@import url('https://fonts.googleapis.com/css?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Carter+One|Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Carter+One|Chewy|Righteous&display=swap');
h1{
    font-family: 'Carter One', cursive;
    color: blue;
    display: flex;
    justify-content: center;
    font-size: 40px;
}
p{
   font-size: 25px;
    font-family: 'Chewy', cursive;
    
}