/* You can add global styles to this file, and also import other style files */
body{
    margin:0;
    overflow:hidden;
    background-color:#fff;
  }
  html,body{
    height: 100%;

  }
  #particles-js{
    background: red ;
  }